/* http://qtip2.com/options */
.qtip {
  position: absolute;
  top: -28000px;
  left: -28000px;

  display: none;

  min-width: 50px;

  box-shadow: none;

  direction: ltr;
}
.qtip-content {
  position: relative;

  overflow: hidden;

  padding: 5px 9px;

  text-align: left;
  word-wrap: break-word;
}
.qtip-titlebar {
  font-weight: 700;

  position: relative;

  overflow: hidden;

  padding: 5px 35px 5px 10px;

  border-width: 0 0 1px;
  + .qtip-content {
    border-top-width: 0 !important;
  }
  .qtip-close {
    top: 50%;
    right: 4px;

    margin-top: -9px;
  }
  .ui-icon {
    display: block;

    text-indent: -1000em;

    direction: ltr;
  }
}
.qtip-close {
  position: absolute;
  z-index: 11;
  top: -9px;
  right: -9px;

  cursor: pointer;

  border: 1px solid transparent;
  outline: medium none;
}
* html .qtip-titlebar .qtip-close {
  top: 16px;
}
.qtip-icon {
  text-decoration: none;

  border-radius: 3px;
  .ui-icon {
    font: 400 bold 10px/13px Tahoma,sans-serif;
    line-height: 14px;

    display: block;

    width: 18px;
    height: 14px;

    text-align: center;
    text-decoration: none;
    text-indent: -1000em;
    text-indent: 0;

    color: inherit;
    border-radius: 3px;
    background: transparent none no-repeat -100em -100em;

    direction: ltr;
  }
}
.qtip-default {
  width: 800px;
  padding: 45px 50px;

  color: #000;
  background-color: #fff;
  table {
    width: 100%;
  }
  .qtip-titlebar {
    background-color: #ffef93;
  }
  .qtip-icon {
    color: #777;
    border-color: #ccc;
    background: #f1f1f1;
  }
  .qtip-titlebar .qtip-close {
    color: #111;
    border-color: #aaa;
  }
}
